.proj-title {
    border-bottom: 1px #777 solid;
    font-size: 1.4em;
    text-align: center;
}

.proj-title a {
    color: #acf;
}


.project-content {
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    border: 1px black solid;
    padding: 2px;
    margin-bottom: 5px;
}

.proj-desc {
    margin-top: 2px;
    min-height: 15em;
    overflow: hidden;
    font-size: 0.9em;
}


.proj-image-div {
    margin-top: 5px;
    background-image: url(../assets/gulp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    margin: 0 auto;
}


.proj-bottom {
    margin-top: 7px;
    padding: 3px 0px;
    border-top: 1px #777 solid;
}

.readmore {
    float: right;
}

.readmore a {
    color: #abf;
}


#fishy-image {
    background-image: url(../assets/gulp.png);
}

#cards-image {
    background-image: url(../assets/letsplay_logo.png);
}

#libra-image {
    background-image: url(../assets/libra.png);
}

#whiteglove-image {
    background-image: url(../assets/whiteglove.png);
}

.header-img {
    background-color: #000;
    background-image: none;
    height: 340px;
}

.header-row {
    height: 350px;
}






.gulp-div {
    background-color: #000;
}


.gulpgame {
    margin: 0 auto;
    display: block;
}

.gamediv {
    margin: 0 auto;
    width: auto;
}

.gulp-content {
    background-color: #f3f3f3;
    padding: 10px;
    border: 1px black solid;
    font-size: 1.15em;
}



.quote {
    width: 80%;
    margin: 0 auto;
    background-color: #fafafa;
    border: 1px #aaa solid;
    padding: 3px;
}

.letsplay-img-div {
    background-image: url(/Projects/images/letsplay.png);
}



