
h1 {
    margin: 40px;
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    width: 80%;
    margin: 30px auto 10px auto;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    width: 80%;
    margin: 0 auto 5px auto;
    text-decoration: underline;
    font-weight: 600;
    font-family: 'Alegreya', serif;
    font-size: 1.1em;
    text-align: center;
}

p {
    width: 80%;
    margin: 0 auto 1em auto;;
    font-family: 'Alegreya', serif;
    text-indent: 3em;
    font-size: 1em;
}

.centered {
    text-align: center;
}
.no-bottom {
    margin-bottom: 0;
}
a h3 {
    text-align: center;
    color: #102a6d;
    font-size: 1.4em;
    padding: 20px;
}

a:visited h3 {
    color: #1a2c7f;
}

.project-review {
    width: 60%;
    padding: 6px;
    background-color: #f8f7fa;
    border: 1px #ccc dashed;
    font-style: italic;
    font-size: 0.9em;
}

.project-review::before {
    content: open-quote;
    font-size: 1.3em;
}
.project-review::after {
    content: close-quote;
    font-size: 1.3em;
}


content {

}

.proj-img-centered {
    margin-top: 20px;
    text-align: center;
}
.proj-img-right {
    margin: 50px 20px 20px 20px;
    float: right;
    background-image: url("../projects/glove-full.png");
    width: 614px;
    height: 537px;
    background-size: 100%;
}

#libra-img {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px #aaa solid;
    background-color: #f6f8fb;
}


#gulp-div {
    text-align: center;
}


iframe {
    background-color: #000;
}


