#editorDiv { 
    border: 1px black solid;
    background-color: #999;
    padding: 3px;
    border-radius: 3px;
    margin-left: 20px;
    width: 1280px;
    height: 360px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.imgsDiv {

    margin: 2px;
    display: inline-block;
    overflow: hidden;
    height: 220px;
    min-width: 1200px;
}

#gameDiv {
    display: inline-block;

}

.editorImg:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}
.editorImg {
    font: 0/0 a;
    width: 98px;
    height: 98px;
    margin: 0 2px;
    background-color: #666;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border: 1px black solid;
}
.editorImg img {
    vertical-align: middle;
    display: inline-block;
    max-width: 88px;
    max-height: 88px;
}
#imgScroll {
    width: 300px;
    height: 216px;
    display: inline-block;
    overflow: hidden;
    background-color: #000;
}

#leftPanel {
    width: 1280px;
}




//_________________________________________EDITOR__________________________________________\\







/**:::::::::::: Object Selection ::::::::::::**/
.editorPanel{
    height: 360px !important;
    width: 1000px !important;
    display: inline-block;
}



.editorSection {
    background-color: #333;
    border: 1px #adadad dashed;
    text-align: left;
    padding: 5px;
    width: 300px;
    height: 350px;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    position: relative;
}

.optionSpan {
    margin: 5px 12px;
    background-color: #333;
    color: #fff;
    display: inline-block;
    border: 1px black solid;
+}


#curSelectionImg {
    border: 1px white solid;
}
#curSelectionDiv {
    
}

.editorNumInput {
    width: 3em;
    height: 1.3em;
    font-size: 1.1em;
    overflow: visible;
}

.propEditDiv {
    width: 296px;
    height: 348px;
    margin: 3px;
    background-color: #000;
    text-align: center;
    display: none;
}






/**:::::::::::: Property Selection ::::::::::::**/
.propSelectDiv {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    width: 260px;
    margin: 4px auto 10px auto;
    padding: 2px 4px 2px 4px;
    text-align: center;
}

.propSelectPath {
    min-width: 280px;
}

.propSelectBox {
    font-size: 0.75em;
}

.groupSpan {
    width: 252px !important;
    height: 24px;
    background-color: #151515;
    display: block;
    text-align: left;
    padding: 4px;
    margin: 0 auto;
}

.groupSpan label {
    margin-left: 5px;
    padding: 0;
}


.rightBtn {
    float: right;
}

.leftBtn {
    float: left;
}


#triggersDiv {
    
}
#trigNameLbl {
    font-size: 1.2em;
    font-weight: bold;
    color: #D0EaDf;
}


.editObjDiv {
    width: 280px;
    height: 300px;
    background-color: #ff0000;
    text-align: center;
}






/**:::::::::::::--- CLASSES ---::::::::::::**/
.centered {
    text-align: center;
    margin: 0 auto;
}
.botRightBtn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.rightBtn {
    float: right;
}

.leftBtn {
    float: left;
}

.btn {
    color: #fff;
    background-color: #868686;
    border: 2px #fff solid;
}

input[type=number]::-webkit-inner-spin-button {
    height: 2.2em;
}








/************* TRIGGERS ***********************/
#eventTypeSelect{
    display: inline-block;
}

.evParamTxt {
    font-size: 0.8em;
    display: inline-block;
    margin: 1px;
    height: 1.2em;
    width: 3em;
}

.smallDiv {
    display: inline-block;
    margin: 2px 5px;
}

.eventGroupDiv {
    background-color: #000;
    color: #fff;
    border: 1px white solid;
    padding: 3px;
}

#selectTrigTargetBtn {
    margin: 5px;
}

.eParamInput {
    width: 5em;
}

#eventEditorSection {
    display: none;
}




/**-------------------------------------- Sprite Props -------------------------------------**/

/* Launcher */
#launcherPropDiv {
    width: 280px;
    height: 350px;
    background-color: #f2f2f2;
    border: 1px black solid;
    display: inline-block;
    visibility: visible;
    text-align: center;
    margin: 4px;
}

.sPropInput {
    width: 5em;
}

.center {
    margin: 2px auto;
    text-align: center;
}

























